OPENAI_API_KEY=your_openai_api_key_here
WP_BASE_URL=your_wordpress_url_here
WP_USERNAME=your_wordpress_username
WP_PASSWORD=your_wordpress_password
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GOOGLE_SHEETS_CREDENTIALS_FILE=your_google_sheet_url_here
GOOGLE_SHEET_KEY=your_google_sheet_name_here
